<div class="filters-container">
    <div class="header">
        <div>Chose a sorting method : </div>
        <div class="filter-buttons-container">
            <button class="filter-button" (click)="updateFilter('name')" [ngClass]="searchFilter == 'name' ? 'active' : ''">By name</button>
            <button class="filter-button" (click)="updateFilter('keyword')" [ngClass]="searchFilter == 'keyword' ? 'active' : ''">By keyword</button>
        </div>
    </div>
    <input class="input-field" type="text" [(ngModel)]="inputText" [placeholder]="inputPlaceholder" (ngModelChange)="filterSinners()">
</div>
